<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
#d0 {
  background-color: #9F9;
  height: 850px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
#d0 #d1 {
  background-color: #F00;
  height: 200px;
  width: 1000px;
}
#d0 #d2 {
  background-color: #09F;
  float: left;
  height: 500px;
  width: 300px;
}
#d0 #d3 {
  background-color: #F96;
  float: left;
  height: 500px;
  width: 700px;
}
#d0 #d4 {
  background-color: #FF3;
  clear: both;
  height: 150px;
  width: 1000px;
}
</style>
</head>

<body>
<div id="d0">

  <div id="d1">此处显示  id "d1" 的内容</div>
  <div id="d2">此处显示  id "d2" 的内容</div>
  <div id="d3">
    <table width="700" height="215" border="1">
      <tr>
        <td bgcolor="#99FF66"><strong>姓名</strong></td>
        <td bgcolor="#99FF66"><strong>性别</strong></td>
        <td bgcolor="#99FF66"><strong>邮箱</strong></td>
        <td bgcolor="#99FF66"><strong>用户名</strong></td>
        <td bgcolor="#99FF66"><strong>操作</strong></td>
      </tr>
      <tr>
        <td>张三</td>
        <td>男</td>
        <td>zs@163.com</td>
        <td>zhangsan</td>
        <td>修改 删除</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>
  <div id="d4">此处显示  id "d2" 的内容</div>

</div>
</body>
</html>
